* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navegacion {
    width: 800px;
    margin: 2px auto;
    background-color: rgb(245, 202, 213);
    text-align: center;
    border-radius: 5px;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 15px 30px rgb(155, 127, 141);
}
.navegacion ul {
    list-style: none;
}
.menu > li {
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 15px 11px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.menu li a:hover{
    color: #cf007c;
    transition: all .3s;
}
.submenu {
    position: absolute;
    background: #e7b0c9;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    border-radius: 5px;
    box-shadow: 0px 15px 30px rgb(155, 127, 141);
}
.submenu li a {
    display: block;
    padding: 14px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
.unico {
    width: 800px;
    margin: 2px auto;
    background-color: rgb(245, 202, 213);
    text-align: center;
    border-radius: 5px;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 15px 30px rgb(155, 127, 141);
}