h1 {
    text-align: center;
}
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 9px;
    width: 100%;
    max-width: 1000px;
/*     border: 3px solid rgba(8, 8, 8, 0.822); */
    margin: 0 auto;
    font-size: 1.8em;

    justify-items: stretch;

     align-items: center;  
}
.contenedor > div {
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;  
    font-style: italic;
}
.contenedor .nombre-dia {
    background: rgba(31, 2, 199);
    color: white;
    font-style: italic;
}
.contenedor .item {
    background: rgba(31, 9, 225, 0.808);
}
.primer_dia {
    grid-column-start: 4;
    grid-column-end: 5;
}   
.nombre_mes {
    grid-column-start: 1;
    grid-column-end: 8;
    font-size: 1.8em;
    font-style: italic;
}
div {
    background-image: url(..//img/diciembre.jpg);
}