body {
    margin: 0 3em;
}
h1 {
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
} 
.img-catalogo {
    display: inline;
    margin-bottom: -1em;
}
p {
    font-size: 1.5em;
    text-align: center;
}
div {
    display: inline-block;
    margin: 25px;
    height: 380px;
    width: 360px;
}