* {
    margin: 0;
    padding: 0;
}
.menu-bar {
    display: none;
}
nav {
    background: rgb(245,202,213);;
    width: 100%;
}
ul {
    list-style: none;
    text-align: right;
}
li {
    display: inline-block;
    position: relative;
}
nav ul li:hover {
    background: rgb(231,176,201);
}
nav ul li a {
    display: block;
    color: black;
    font-size: 1.3em;
    text-decoration: none;
    padding: 20px;
}
.children {
    position: absolute;
    display: none;
    background: rgb(0, 0, 0);
    text-align: left;
}
nav ul li:hover .children {
    display: block;
    width: 130%;
    text-align: left;
}
nav ul li .children li {
    overflow: hidden;
    display: block;
    border-bottom: 1px solid rgb(255,255,255);
}
nav ul li .children li a {
    display: block;
}
.main-content {
    margin: 30px;
}
h1 {
    margin: 35px;
    text-align: right;
    color: rgb(68, 6, 75);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    font-size: 1.3em;
    line-height: 1.4em;
    text-align: justify;
}
.icon-chevron-small-down {
    float: right;
    position: relative;
    top: 3px;
    padding-left: 5px;
}
@media only screen and (max-width: 680px) {
    body {
        padding-top: 68px;
    }
    h1 {
        margin: 35px 0 35px 35px;
    }
    nav {
        position: fixed;
        height: calc(100% - 68px);
        width: 60%;
        left: -100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .menu-bar {
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        background: #1b3f3a;
    }
    .bt-menu {
        display: block;
        padding: 20px;
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }
    .menu-bar span {
        font-size: 40px;
        float: right;
    }
    nav ul {
        text-align: left;
    }
    nav ul li {
        display: block;
        border-bottom: 1px solid rgb(2, 74, 92);
    }
    nav ul .children {
        position: relative;
        width: 100%;
    }
    nav ul li:hover .children {
        display: none;
    }
}