.pos-static-1 {
    width: 250px;
    height: 250px;
    margin-top: 5px;
    background-color: rgb(6, 109, 109);
    color: white;
    position: static;
    left: 300px;
    top: 500px;
}
.pos-relative-1 {
    width: 250px;
    height: 250px;
    margin-top: 5px;
    background-color: rgb(146, 4, 87);
    color: white;
    position: relative;
    left: 300px;
    top: 40px;
}
.pos-absolute-1, .pos-absolute-2, .pos-absolute-3 {
    width: 250px;
    height: 250px;
    margin-top: 5px;
    background-color: rgb(5, 26, 95);
    color: white;
    position: absolute;
    top: 70%;
    left: 80%;
}
.pos-absolute-1 {
    left: 40%;
}
.pos-absolute-2 {
    left: 60%;
}
.pos-absolute-3 {
    left: 80%;
}
.pos-fixed-1 {
    width: 200px;
    height: 50px;
    margin-top: 5px;
    background-color: rgb(2, 71, 37);
    color: white;
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 8px;
    vertical-align: middle;
    font-size: 1em;
}
label {
    position: absolute;
    margin-top: 15px;
    margin-left: 70px;
}
h1 {
    text-align: center;
    font-size: 3em;
}