h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.big-font {
    font-size: 30px;
}
.fuente-normal {
    font-weight: 900;
}
.fuente-negrita {
    font-weight: bold;
}
.estilo-normal {
    font-style: normal;
}
.estilo-italico {
    font-style: italic;
}